@{
    ViewData["Title"] = "Scoreboard";
}

<div>
    <h1>Custom CTF Scoreboard</h1>
    <p class="lead"> Welcome to custom CTF scoreboard, an application that allows you to filter scoreboard data so that you only see your friends' score during or after a CTF event.</p>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h2>V1.1 - Updates</h2>
            <p>The scoreboard is now way faster and include the last update time. It's also getting closer to have multiple CTFs and being customizable. Once again, stay tuned!</p>
        </div>
        <div class="col-sm-6">
            <h2>V1.0 - MVP</h2>
            <p>This application is at the 'minimum viable product' stage right now. This means a lot of features are missing, but they will be added over time. Stay tuned!</p>
            <p>
                <a class="btn btn-default" asp-area="" asp-controller="Scoreboard" asp-action="Index" role="button">Try it!</a>
            </p>
        </div>
    </div>
</div>
